* {
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.eas-canvas {
  width: 720px;
  height: 720px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}

.cellSize {
  flex: 1 1 45px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  font-size: 3em;
  width: 250px;
  height: 100px;
}
